.fade {
    transition: all .5s;
    opacity: 0;
}

.fade-right {
    transform: translateX(50px);
}

.fade-left {
    transform: translateX(-50px);
}

.fade-scale {
    transform: scale(0.8);
}

.fade-top {
    transform: translateY(-50px);
}

.fade-bottom {
    transform: translateY(50px);
}

.fade-end {
    opacity: 1;
    transform: scale(1) translate(0,0);
}