.more-services {
    & > h2 {
        margin: 0 auto;
    }
    .ms-slider-wrapper{
        width: 100%;
        overflow: hidden;
        .ms-slider{
            display: flex;
            width: 200%;
            justify-content: flex-start;
            align-items: center;
            .ms-slider-item{
                width: calc( 100% / 3);
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                background-color: #eee;
            }
        }
    }
}