.hero-portafolio {
    height: 80vh;
    max-height: 600px;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .info-project {
        height: 85%;
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .project-logo {
        height: 160px;
        width: auto;
    }

    .project-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 2rem;
        margin-top: 2rem;
        .icon-wrapper {
            background-color: white;
            border-radius: 50%;
            width: 54px;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            position: relative;

            &:last-child {
                margin: 0;
            }
            & > img {
                max-width: 60%;
                max-height: 60%;
                width: auto;
                height: auto;
            }
            span {
                display: block;
                position: absolute;
                background-color: black;
                color: white;
                width: 100px;
                left: 50%;
                transform: translateX(-50%);
                bottom: calc(100% + 12px);
                text-align: center;
                padding: 0.5rem;
                font-size: .8rem;
                display: none;
                &:after {
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 8px solid black;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &:hover span {
                display: block;
            }
        }
    }

    .project-desc {
        width: 90%;
        max-width: 400px;

        p {
            color: white;
        }
    }

    &.cazagol {
        background-image: url('#/img/portafolio/cazagol/cazagol-bg.png');
        background-position: bottom center;
    }
    &.beauty {
        background-image: url('#/img/portafolio/beauty/beauty-bg.png');
        background-position: center;
        .project-logo {
            height: 200px;
        }
    }
    &.nano {
        background-image: url('#/img/portafolio/nano/nano-bg.png');
        background-position: center;
        .project-logo {
            width: 90%;
            height: auto;
            max-width: 700px;
            margin: 0 auto;
        }
    }

    &.git {
        background-image: url('#/img/portafolio/git/git-bg.png');
        background-position: center;
        
    }
}

.project {
    padding: 8rem 0;
    .main-wrapper {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .project-stage {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10rem;
        &:last-child {
            margin: 0;
        }

        .title {
            color: $mainColor;
            margin-bottom: 3rem;
            text-align: center;
        }

        .stage-img {
            margin-bottom: 3rem;
            img {
                height: 170px;
                width: auto;
            }
        }

        .stage-desc {
            position: relative;
            max-width: 370px;
            min-width: 280px;
            p {
                padding: 1rem;
                text-align: center;
            }
            .marco {
                width: 100%;
                height: 2rem;
                border-right: 1px solid $gray2; 
                border-bottom: 1px solid $gray2; 
                margin-top: -2rem;
            }
        }
    }
}



/*** DIFERENCIADORES ***/
.project {
    .project-stage {
        .stage-img.marca-nano {
            img {
                width: 100%;
                height: auto;
                max-width: 300px;
            }
        }
    }
} 
